{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container p-3">
    <div class="row">
      <div class="col mb-4">
        <h2 class="card-title text-nowrap">Humans</h2>
        <ol class="list-group">
          <li class="list-group-item active d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Human Name</div>
              <p class="card-text text-nowrap">Attended Events</p>
            </div>
            <span class="badge bg-danger rounded-pill">Time to Turn</span>
          </li>
          {% for human in humans %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ human.user.nickname }}</div>
              </div>
              
              {% if human.status.name == 'ALIVE' %}
                <span class="badge bg-success rounded-pill">{{ human.status.value }}</span>
              {% elif human.status.name == 'TURNING' %}
                {{ human|turning_badge }}
              {% elif human.status.name == 'RESURECTED' %}
                <span class="badge bg-info rounded-pill">{{ human.status.value }}</span>
              {% elif human.status.name == 'LEFT' %}
                <span class="badge bg-secondary rounded-pill">{{ human.status.value }}</span>
              {% elif human.status.name == 'CONFIRM' %}
                <span class="badge bg-light rounded-pill">{{ human.status.value }}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>
      {% for faction, zombies in zombie_factions %}
        <div class="col mb-4">
          <h2 class="card-title text-nowrap">{{ faction.value }} Zombies</h2>
          <ol class="list-group">
            <li class="list-group-item active d-flex align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Zombie Name</div>
                <p class="card-text text-nowrap">Confirmed Kills</p>
              </div>
              <span class="badge bg-danger rounded-pill">Time to Feed</span>
            </li>
            {% for zombie in zombies %}
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">{{ zombie.user.nickname }}</div>
                  <p class="card-text">{{ zombie|kills_list }}</p>
                </div>
                
                {% if zombie.status.name == 'UNDEAD' %}
                  {{ zombie|starving_badge }}
                {% elif zombie.status.name == 'RESURECTED' %}
                  <span class="badge bg-info rounded-pill">{{ zombie.status.value }}</span>
                {% elif zombie.status.name == 'STARVED' %}
                  <span class="badge bg-secondary rounded-pill">{{ zombie.status.value }}</span>
                {% endif %}
              </li>
            {% endfor %}
          </ol>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}