<!DOCTYPE html>
<html>
<head>
  {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <title>{% block title %}{% endblock %} - HvZ</title>
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:description" content="{% block description %}Humans vs. Zombies{% endblock %}">
    <meta property="og:image" content="//android-chrome-512x512.png">
    <meta name="twitter:title" value="{{ self.title() }}">
  {% endblock head %}
</head>
<body>
<div id="content">
  {% block content %}{% endblock %}
</div>
</body>
